<section id="education">
    <div class="container">
        <h1 class="title has-text-centered">Education</h1>
        <div class="card">
            <div class="columns">
                <div class="column is-3 has-background-primary">
                    <div class="card-content">
                        <div class="has-text-centered">
                            <p class="">2011-2016</p>
                            <p class="is-size-4 has-text-weight-medium">Bachelors Degree</p>
                        </div>
                    </div>
                </div>
                <div class="column is-9">
                    <div class="card-content">
                        <p class="is-size-4.5 has-text-weight-bold">Computer Engineering</p>
                        <ul>
                            <li>Lyceum of Albang, Muntinlupa City</li>
                            <li>Main Subjects: Oop, Data Structures & Algorithm, Web Development, Robotics, Linux</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- 2nd card -->
        <div class="card mt-5">
            <div class="columns">
                <div class="column is-3 has-background-primary">
                    <div class="card-content">
                        <div class="has-text-centered">
                            <p class="">2007-2010</p>
                            <p class="is-size-4 has-text-weight-medium">Secondary School</p>
                        </div>
                    </div>
                </div>
                <div class="column is-9">
                    <div class="card-content">
                        <p class="is-size-4.5 has-text-weight-bold">Saint Paul's Academy</p>
                        <ul>
                            <li>Inabanga Bohol</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>