<footer class="footer has-background-link">
    <div class="content has-text-centered has-text-white">
        <a class="cc-facebook btn btn-link mx-5" href="https://www.facebook.com/janel.logrono/" target="_blank">
            <i class="fab fa-2x fa-facebook has-text-white " aria-hidden="true"></i>
        </a>
        <a class="cc-instagram btn btn-link mx-5" href="#/" target="_blank">
            <i class="fab fa-2x fa-instagram has-text-white " aria-hidden="true"></i>
        </a>
        <a class="cc-twitter btn btn-link mx-5" href="#" target="_blank">
            <i class="fab fa-2x fa-twitter has-text-white" aria-hidden="true"></i>
        </a>
        <a class="cc-github btn btn-link mx-5" href="https://github.com/logronj" target="_blank">
            <i class="fab fa-2x fa-github has-text-white" aria-hidden="true"></i>
        </a>
    </div>
    <div class="has-text-centered has-text-white">
        <p>&copy; @logronj All rights reserved.</p>
    </div>
</footer>
