<section class="section" id="experience">
  <div class="container">
    <h1 class="title">Experience</h1>
    <div class="timeline is-centered">
      <header class="header timeline-header">
        <span class="tag is-medium is-dark">
          2020
        </span>
      </header>
      <div class="timeline-item">
        <div class="timeline-marker is-success"></div>
        <div class="timeline-content"></div>
      </div>
      <div class="timeline-item is-success">
        <div class="timeline-marker is-image is-32x32">
          <img src="" alt="" />
        </div>
        <div class="timeline-content">
          <p class="heading">2019</p>
          <h1 class="title is-4">cai-sta</h1>
          <p style="max-width: 25em">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam omnis tempora ex officia, perspiciatis quam repellendus quia nisi illo consectetur! Minima corrupti ipsum velit recusandae perspiciatis nemo ducimus at facere?</p>
        </div>
      </div>
    </div>
  </div>
</section>