<section class="section" id="experience">
  <div class="container">
    <h1 class="title">Experience</h1>
    <div class="timeline is-centered">
      <header class="header timeline-header">
        <span class="tag is-medium is-dark">
          2020
        </span>
      </header>
      <div class="timeline-item">
        <div class="timeline-marker is-success"></div>
        <div class="timeline-content"></div>
      </div>
      <div class="timeline-item is-success">
        <div class="timeline-marker is-image is-32x32">
          <img src="" alt="" />
        </div>
        <div class="timeline-content" data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000">
          <p class="heading">2017 - present</p>
          <h1 class="title is-4 is-uppercase">cai-sta philippines inc.</h1>
          <p style="max-width: 25em">Started my first professional developer experience 
            joined the project Internal Revenue Integrated System (IRIS), one of the biggest project in this company.
            Consist of 10 modules / sub-projects. For more info visit: 
            <a href="https://www.philstar.com/business/2020/12/06/2061743/bir-developing-web-based-program-curb-tax-leakages">
              IRIS
            </a>
          </p>
        </div>

        
      </div>

      <div class="timeline-item is-success">
        <div class="timeline-marker is-image is-32x32">
          <img src="" alt="" />
        </div>
        <div class="timeline-content" data-aos="flip-right"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000">
          <p class="heading">2016 - 2017</p>
          <h1 class="title is-4 is-uppercase">strategic networks inc.</h1>
          <p style="max-width: 25em">- Assigned on User Access Maintenance support, handling different kinds of systems used by clients including creation, modification and deactivation of SAP, LTS/MRS, Workstream, Email & Baan accounts.</p>
          <p style="max-width: 25em">-Performs Remote Access Support using remote tools like RDP, VNC, Landesk , VMware and Teamviewer, for troubleshooting software related issues.</p>
        </div>
        
      </div>

      
    </div>
  </div>
</section>